@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,300;1,100&display=swap');

.theme-container {
  width: 100%;
  height: 59px;
  background: #100F0F;
}
.color-container {
  display: flex;
  position: absolute;
  width: 85px;
  height: 18px;
  top: 15px;
  left: 18px;
}
.red {
    background-color: orangered;
    width: 9px;
    height: 2px;
    border-radius: 15px;
    padding: 13px;
    margin: 2px;
}
.yellow {
    background-color: yellow;
    width: 9px;
    height: 2px;
    border-radius: 15px;
    padding: 13px;
    margin: 2px;
}
.green {
    width: 9px;
    height: 2px;
    border-radius: 15px;
    padding: 13px;
    margin: 2px;
    background-color: yellowgreen;
}
.navbar {
  background: #A7CB8B;
}
.nav-link {
    font-family: 'Open Sans', Sans-Serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}
i {
  font-size: 33px;
}
.bg-image {
  height: 90vh;
  background: rgba(30, 30, 30, 0.35) url(../Images/field-tomato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.stay {
  position: relative;
  top: 25%;
  left: 5%;
  max-width: 486px;
  height: 140px;
}
.stay h2 {
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
}
.global {
    position: relative;
    max-width: 589px;
    height: 147px;
    top: 60%
    left: 5%;
    margin-top: 70px;
}
.global p {
    font-family: 'Open Sans', Sans-Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.more {
    position: relative;
    top: 90%;
    left: 15%;
    background: #CB6C04;
    border-radius: 20px;
    max-width: 260px;
    height: 52.16px;
    margin-top: 100px;
    text-align: center;
}
.more a {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
.welcome {
  width: 100%;
  height: 98px;
  margin-bottom: 50px;
}
.welcome p {
    font-family: 'Open Sans', Sans-Serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 49px;
    text-align: center;
    color: #23241F;
}
.tomatoe-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 185px;
    background: #FFFFFF;
    border: 3px solid #CB6C04;
}
.tomatoe-icon img, .groundnut-icon img {
    width: 100px;
    height: 100px;
}
.tomatoe-icon .buy, .groundnut-icon .buy {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #100F0F;
}
.groundnut-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 185px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
}

/* Product page styling*/
.col-md-4 img {
  width: 100%;
  height: 300px;
}
.t-bunch img {
  width: 100%;
}
.t-title, .t-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.t-title h3 {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.t-text p {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    text-align: justify;
}
.t-black {
  position: absolute;
  width: 330px;
  height: 40px;
  margin-left: 15px;
  background: #23241F;
}
.quantity {
  position: absolute;
  top: 19px;
  left: 100px;
}
.quantity h3 {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1px;
    text-align: center;
    color: #FFFFFF;
}
.down {
    position: absolute;
    left: 85%;
    right: 25%;
    top: 31%;
    bottom: 34.56%;
    background: rgba(255, 255, 255, 0.54);
}
div.down div.coll, .down1 div.coll {
    background-color: #FFFFFF;
    display: none;
    overflow: hidden;
} 
div.coll div.kilo div.kilo-title {
    position: absolute;
    width: 104px;
    height: 19px;
    left: -280px;
    top: 30px;
}
div.kilo-title h3 {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.kilo-bg div {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 84px;
  left: -280px;
}
div.basket div.basket-title {
    position: absolute;
    width: 84px;
    height: 19px;
    left: -95px;
    top: 30px;
}
div.basket div.basket-title h3 {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.33);
} 
.basket-bg div {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: -95px;
    top: 84px;
}
.t-black2 {
  position: absolute;
  width: 330px;
  height: 40px;
  margin-top: 50px;
  margin-left: 15px;
  background: #23241F;
}
.h {
  border: 1.5px solid black;
}
div.t-black2 div.inform {
    position: absolute;
    left: 90px;
    top: 19px;
} 
div.t-black2 div.inform h3 {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1px;
    text-align: center;
    color: #FFFFFF;
}
div.t-black2 div.down1 {
    position: absolute;
    left: 85%;
    right: 25%;
    top: 31%;
    bottom: 34.56%;
    background: rgba(255, 255, 255, 0.54);
}
div.coll form div.amount {
    position: absolute;
    width: 127px;
    height: 26px;
    left: -45px;
    top: 198px;
}
div.coll form div.total {
    position: absolute;
    width: 27px;
    height: 26px;
    left: 5px;
    top: 228px;
}
div.amount p {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
} 
div.down1 div.coll form label {
    position: absolute;
    left: -280px;
    top: 38px;
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
div.down1 div.coll form label.label2 {
  top: 110px
}
div.down1 div.coll form input.margin {
    position: absolute;
    width: 336px;
    height: 30px;
    left: -280px;
    top: 65px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    border: none;
}
div.down1 div.coll form input.input2 {
    top: 140px;
}
div.down1 div.coll form a{
    position: absolute;
    width: 200px;
    height: 40px;
    left: -209px;
    top: 274px;
    background: #A7CB8B;
    border-radius: 15px;
}
#addCart {
  position: absolute;
  width: 110px;
  height: 40px;
  left: -109px;
  top: 274px;
    background: #A7CB8B;
    border-radius: 15px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
/* Checkout Page */
.customer-title {
    position: relative;
    left: 20px;
    top: 30px;
}
.customer-title p {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.customer-info form input {
    background: rgba(208, 208, 208, 0.26);
    border: 1px solid rgba(210, 210, 210, 0.25);
}
.ship-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ship h2 {
    font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #000000;
}
.ship p {
    font-family: 'Roboto', Sans-Serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.41);
}
.uber, .kwik, .courier, .mr {
    width: 150px;
    height: 110px;
}
.uber img, .kwik img, .courier img, .mr img {
  width: 100%;
  height: 100px;
}
.proceed {
  margin-left: 100px;
}
.proceed a {
  background-color: #A7CB8B;
}

/* Cart page styling*/
.container-fluid.cart-con {
  width: 100%;
  height: 80vh;
  background: rgba(30, 30, 30, 0.35) url(../Images/cart.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cart-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-text {
font-family: 'Roboto', Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}





@media only screen and (max-width: 620px) {
.ship-option {
  flex-wrap: wrap;
}
  
}